body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
              url("../ASSETS/OzdenLogo.png") no-repeat center center fixed;
  background-size: cover;
}

header H1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex; /* Makes the <a> tags a flex container */
  justify-content: center; /* Centers the links horizontally */
  gap: 30px; /* Adds space between the links */
  margin-top: 10px; /* Adds space between the <h1> and the links */
}

header nav a {
  text-decoration: none; /* Optional: Removes underline from links */
  color: #000; /* Optional: Sets link color */
}

a {
  margin-right: 20px; /* Adjust as needed */
}